!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    %title .portrait.
  %body
    .header
      = link_to_if @current_user.nil?, 'Forgot my password', new_password_reset_path, id: 'password_reset'
      %h1 portrait
    #Content= yield
